<%- include('./style.ejs') %>
<div class="container">
	<div class="post">
		<div class="header_post">
			<img src="/images/gecelca-logo.png" />
			<figure class="picture">
				<a href="<%= picture %>" target="_blank">
					<img src="<%= picture %>" alt="">
				</a>
			</figure>
		</div>
		<div class="body_post">
			<div class="post_content">
				<h1><%= ordType %></h1>
				<p>- CC/Placa: <%= number %></p>
				<p>- Sexo/Tipo: <%= type %></p>
				<p>- Ocupacion: <%= occupation %></p>
				<p>- Contratista: <%= company %></p>
				<p>- Subcontratista: <%= contractor %></p>
				<div class="container_infos">
					<div class="postedBy">
						<span>Nombre/Tipo Vehículo</span>
						<%= name %>
					</div>
					<div class="container_tags">
						<span>Estado</span>
						<div class="tags">
							<ul>
								<%- status %>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
